* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --text-color: #e1e1e6;
  --bg-color: #1a1924;
  --message-color: #07847e;
  --message-friend-color: #633bbc;
}

img, 
svg {
  display: block;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

body,
input,
input::placeholder,
button {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-color);
  height: 100vh;

  padding: clamp(1.8rem, 1.6rem + 2.5vw, 3.2rem);

  display: grid;
  grid-template-areas:
    'header'
    'chat-wrapper';
  grid-template-rows: 7.4rem auto 7.4rem;
}

.chat-wrapper {
  grid-area: chat-wrapper;
}

header,
main,
.input-wrapper {
  width: min(95%, 88rem);
  margin-inline: auto;
}

header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .user-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

header .user-info img {
  width: 4.8rem;
  height: 4.8rem;

  border-radius: 50%;
}

header .user-status .status {
  color: #00b37e;
  font-size: 1.2rem;
  line-height: 1.4rem;

  margin-top: .4rem;

  display: flex;
  align-items: center;
  gap: .4rem;
}

header .close {
  font-size: 1.8rem;
}

main {
  overflow-y: auto;
}

main .chat {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main .chat {
  font-size: 1.2rem;
  line-height: 1.4rem;

  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

main .last-seen {
  margin-top: 1rem;
  align-self: center;
}

main .message {
  max-width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .message p {
  padding: 1.4rem;
  width: fit-content;
}

main .message .strong {
  font-weight: 700;
}

main .friend p {
  background-color: var(--message-friend-color);
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}

main .you {
  align-self: flex-end;
}

main .you span {
  align-self: flex-end;
}

main .you p {
  background-color: var(--message-color);
  border-radius: 0.8rem 0.8rem 0 0.8rem;
  align-self: flex-end;
}

.input-wrapper:has(input:focus) {
  outline: 2px solid #00b37e;
}

.input-wrapper {
  background-color: #282843;
  height: 5.2rem;
  
  margin-top: 2.4rem;
  padding: 1.4rem 2.4rem;
  border-radius: 99.9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.input-wrapper input {
  background-color: transparent;
  outline: none;
  border: none;

  font-size: 1.2rem;
  line-height: 1.4rem;
  
  width: 100%;
}

.input-wrapper input::placeholder {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.input-wrapper button {
  font-size: 1.8rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #282843;
  border-radius: 1rem;
}