* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: hsl(0, 0%, 92%);
  --color-secondary: hsl(262, 94%, 67%);
  --color-insert: hsl(0, 0%, 42%);
  
  --font-primary: 'Rubik', sans-serif;

  --bg-body: linear-gradient(180deg, hsl(242, 45%, 65%) 0%, hsl(252, 45%, 65%) 100%);
  --bg-calculator: hsl(254, 13%, 19%);
  
  --btn-gray: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), hsl(254, 13%, 19%);
  --btn-violet: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), hsl(263, 50%, 31%);
  --btn-purple: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), hsl(262, 73%, 58%);
  --btn-hover: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), hsl(262, 73%, 58%);
}

img,
svg {
  display: block;
  max-width: 100%;
}

body, input, button {
  font-family: var(--font-primary);
  font-weight: 400;
  outline: none;
  border: none;
}

body {
  background: var(--bg-body);

  display: grid;
  place-content: center;

  min-height: 100vh;
  padding: 0 1.5rem;
}

#calculator {
  background: var(--bg-calculator);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 188px 52px rgba(0, 0, 0, 0.01), 
  0px 120px 48px rgba(0, 0, 0, 0.04),
  0px 68px 41px rgba(0, 0, 0, 0.15), 
  0px 30px 30px rgba(0, 0, 0, 0.26), 
  0px 8px 17px rgba(0, 0, 0, 0.29),
  inset 0px 6px 8px rgba(255, 255, 255, 0.1), 
  inset 0px -4px 5px rgba(0, 0, 0, 0.22);

  border-radius: 3rem;
  padding: 3.375rem 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}

#display {
  padding-inline: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 18.25rem;
}

.insert-value {
  width: 100%;
  height: 1.75rem;

  font-size: 1.2rem;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.2rem;

  color: var(--color-insert);
  background-color: transparent;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.result-value {
  width: 100%;
  height: 3.1495rem;

  
  font-size: 2.2rem;
  line-height: 140%;
  text-align: right;

  color: var(--color-primary);
  background-color: transparent;
}

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem;
}

.keyboard-button {
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--btn-gray);
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 
  0px 7px 7px rgba(0, 0, 0, 0.04), 
  0px 4px 6px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.26), 
  0px 0px 2px rgba(0, 0, 0, 0.29), 
  inset 0px 2px 3px rgba(255, 255, 255, 0.06);

  border-radius: 62.438rem;

  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  color: var(--color-primary);

  cursor: pointer;

  transition: all 200ms ease-in-out;
}

.keyboard-button:hover {
  background: var(--btn-hover);
  transform: scale(1.04);
}

.keyboard-button:nth-child(1) {
  color: var(--color-secondary);
}

.keyboard-button:nth-child(1):hover {
  color: var(--color-primary);
}

.keyboard-button:nth-child(19) {
  font-size: 2.2rem;
}

.keyboard-button-violet {
  background: var(--btn-violet);
}

.keyboard-button-purple {
  background: var(--btn-purple);
}