* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --body-bg: #121214;
  --text-color: #fff;

  font-family: 'Hepta Slab', serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;

  background: var(--body-bg);
}

#app {
  width: 90%;
  height: 100vh;
  
  margin: 14rem auto 8rem;

  color: var(--text-color);

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

header {
  position: sticky;

  top: 4rem;
  height: fit-content;
}

header h1 {
  width: 50%;
  font-size: 4.8rem;
  font-weight: 400;

  margin-bottom: 3.2rem;
}

header i {
  font-size: 3.2rem;
}

.container {
  width: 100%;

  columns: 3;
  column-gap: 3.2rem;

  transition: all .3s;
}

.image-wrapper {
  margin-bottom: 3.2rem;
  border-radius: .4rem;
  overflow: hidden;

  position: relative;

  cursor: pointer;
}

.image-wrapper:hover {
  outline: 3px solid white;
}

.img {
  width: 100%;
  display: block;
}

.image-wrapper h2 {
  display: none;
}

.image-wrapper:hover h2 {
  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 6rem;
  
  position: absolute;
  left: 0;
  bottom: 0;

  font-size: 2rem;
  font-weight: 400;

  padding-left: 2rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);

  animation: downtop .4s backwards;
}

@keyframes downtop {
  from {
      transform: translateY(100%);
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }

  #app {
    flex-direction: column;
    margin-top: 10rem;
  }

  header {
    position: static;
    margin-bottom: 3.2rem;
  }

  .container {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  #app {
    margin-top: 5rem;
  }

  header h1 {
    font-size: 3.6rem;
  }

  .container {
    column-gap: 2rem;
  }
}