* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color:#292738;
  --card-bg:#363447;
  --font-color: #ffffff;
  --span-color: #81FBB8;
  --graph-line: #4A4556;
  --graph-column: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);

  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 160%;

  color: var(--font-color);
  background: var(--bg-color);
}

.title {
  font-weight: 600;
  font-size: 2.4rem;
}

.small {
  font-weight: 500;
  font-size: 1.4rem;
}

.number.small {
  font-weight: 400;
}

span.day {
  font-weight: 500;
  font-size: 2.4rem;
}

#app {
  max-width: 112rem;
  width: 85%;

  padding: 3.2rem 0;
  margin-inline: auto;

  position: relative;
}

/* ============ section cards ============ */
#cards {
  width: 100%;
  display: flex;
  gap: 3.2rem;

  margin-bottom: 5.9rem;
}

#cards .card {
  padding: 2.9rem 0;
  background: var(--card-bg);
  text-align: center;

  border-radius: 16px;
  box-shadow: 3px 4px 26px 0px #00000040;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  cursor: pointer;
  
  transition: all .3s ease-in-out;
}

#cards .card:hover {
  box-shadow: none;
  scale: 1.02;
}

#cards .card:nth-child(1) {
  width: 28%;
}

#cards .card:nth-child(2) {
  width: 32%;
}

#cards .card:nth-child(3) {
  width: 40%;
}

#cards .card .content {
  width: 19.7rem;
  min-height: 19.7rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}

.card .content span {
  display: block;

  font-size: 2.4rem;
  color: var(--span-color);

  margin-top: 1.6rem;
}

.card .bottom {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card:nth-child(1) .bottom {
  gap: 1rem;
}

.card .bottom div {
  display: flex;
  gap: 1rem;
}

.card .bottom div p::before {
  display: inline-block;
  content: '';
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  margin-right: .4rem;
  vertical-align: text-top;
}

.card .bottom div:first-child p::before {
  background: #4A4556;
}

#cards .card:nth-child(2) .bottom div:last-child p::before {
  background: linear-gradient(121.94deg, #CE9FFC 15.98%, #7367F0 82.85%);;
}

#cards .card:nth-child(3) .bottom div:last-child p::before  {
  background: linear-gradient(121.94deg, #DF9780 15.98%, #A66DE9 82.85%);
}

.content.doughnut-chart {
  display: grid;
  place-content: center;

  position: relative;
}

svg {
  --percentage: 0;

  width: 19.7rem;
  height: 19.7rem;
  transform: rotate(-90deg);
}

svg circle {
  stroke-dasharray: 618;
  stroke-dashoffset: 618;
  stroke-width: 35;
  fill: none;
}

svg circle:nth-child(1) {
  stroke-dashoffset: 0;
}

svg circle:nth-child(2) {
  stroke-dashoffset: calc(618 - (618 * var(--percentage)) / 100);
  stroke-linecap: round;

  animation: progress 1s ease-in-out;
}

@keyframes progress {
  0% {
    stroke-dasharray: 618;
    stroke-dashoffset: 618;
  }
}

.content-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.content-value .value {
  font-weight: 700;
  font-size: 3.4rem;
}

.content-value p {
  font-weight: 400;
  font-size: 1.6rem;
}

/* ============ section sales ============ */
#sales {
  padding: 2.9rem 4.8rem;
  background: var(--card-bg);
  
  border-radius: 1.6rem;
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
}

#sales .content {
  max-width: 102.4rem;
  height: 18.6rem;

  margin-top: 2.9rem;

  display: flex;
  justify-content: space-between;
}

#sales .content .left {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

#sales .content .left p {
  margin-bottom: 1.2rem;
}

#sales .content .left p::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;

  margin-right: .4rem;

  transform: translateY(-1px);

  clip-path: polygon(50% 20%, 0% 100%, 100% 100%);

  background: linear-gradient(180deg, #81FBB8 0%, #28C76F 100%);
}

#sales .content .left div:nth-child(2) p::before {
  rotate: 180deg;
  transform: translateY(-6px);
  
  background: linear-gradient(180deg, #EA5455 0%, #FEB692 100%);
}

#sales .content .graph {
  width: 100%;
  max-width: 52.3rem;

  display: flex;
  justify-content: space-between;
  align-items: end;

  position: relative;
}

#sales .content .graph::before {
  content: '';
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: .3rem;

  border-radius: 50%;
  background: var(--graph-line);
}

#sales .content .graph div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#sales .content .graph .column {
  width: 1.5rem;
  z-index: 2;
  position: relative;

  border-radius: 6.6rem;
  background: var(--graph-column);

  height: var(--height);

  animation: up 1.4s;
}

@keyframes up {
  0% {
    height: 0;
  }
}

#sales .content .graph p {
  padding-top: .5rem;
}

/* ============== scrollbar ============== */
body::-webkit-scrollbar{
  width: 1rem;
}

body::-webkit-scrollbar-track{
  background: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--card-bg);
  border-radius: .6rem;
}

/* ============ media queries ============ */
@media (max-width: 1094px) {
  :root {
      font-size: 50%;
  }

  #cards .card:nth-child(1) {
      width: 23%;
  }
}

@media (max-width: 880px) {
  #cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.2rem;
  }

  #cards .card:nth-child(1),
  #cards .card:nth-child(2) {
    width: 47%;
  }

  #cards .card:nth-child(3) {
    width: 100%;
  }

  #sales .content .graph {
    width: 50%;
  }
}

@media (max-width: 640px) {
  #cards .card:nth-child(1),
  #cards .card:nth-child(2) {
    width: 100%;
  }

  #cards .card .content {
    min-height: auto;
  }

  .content.doughnut-chart {
    width: 18rem;
    height: 18rem;
  }

  #sales {
    padding: 2.9rem 3.8rem;
  }

  #sales .content {
    flex-direction: column-reverse;
    height: auto;
    gap: 3.2rem;
  }

  #sales .content .left {
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-direction: row;
  }

  #sales .content .graph {
    width: 100%;
    margin-inline: auto;
  }
}

@media (max-width: 375px) {
  span.day {
    font-size: 2rem;
  }

  #sales .content .graph .column {
    width: 1.2rem;
  }
}